<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Uncomment to restore all packages to this folder
      <add key="globalPackagesFolder" value="LocalPackagesRestore" />
    -->
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="DefaultFeed" value="TEMPLATE_NUGET_FEED" />
    <!-- Uncomment to be able to get nuget packages from this folder (useful for testing)
      <add key="LocalPackage" value="LocalPackagesConsume" />
    -->
  </packageSources>
  <packageSourceMapping>
    <clear />
    <!-- List of packages to consume locally
      <packageSource key="LocalPackage">
        <package pattern="MyPackage*" />
      </packageSource>
    -->
    <packageSource key="DefaultFeed">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>  
</configuration>